.bg-image {
    position: relative;
}

.bg-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../images/pic_1.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.get-schooled {
    font-size: 16vh;
    font-weight: 700;
    padding-top: 120px;
}

.btn-purple {
    background-color: #C271FF !important;
    border: none !important;
    color: #ffffff !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45) !important;

}

.btn-purple:hover {
    background-color: #b260e6 !important;
}

.txt-learn {
    color: #C271FF;
}

.card-img {
    border-radius: 50px !important;
}

.student-img {
    margin: 0 auto !important;
    display: block !important;
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
}

@media screen and (max-width: 575px) {
    .bg-image::before {
        background-size: auto;
        background-position: top center;
    }

    .get-schooled {
        font-size: 65px;
    }

    .learn-pros-text {
        font-size: 30px;
    }

    .categories li {
        font-size: 15px;
        margin: 0 20px !important;
        font-weight: 500;
    }

    .container.learn-text-container {
        padding-bottom: 50px !important;
    }

    .container.card-container {
        padding-top: 0% !important;
        padding-bottom: 50px !important;
    }

    .card-container .card-body {
        padding: 0.2rem !important;
    }

    .card-container .card-title {
        font-size: 1rem !important;
    }

    .card-container .card-text {
        font-size: 10px !important;
    }

    .card-container .student-img {
        width: 100px !important;
        height: 100px !important;
    }

}