.txt-link:hover {
    color: #C271FF !important;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #fff;
}

.txt-size {
    font-size: 12px;
    letter-spacing: 1.5px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 757px) {
    .navbar .logo-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo-main {
        margin-bottom: 10px;
    }
}