.quote-course {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1.5px;
    word-spacing: 3px;
}

.quote-course span {
    color: rgb(207, 108, 255);
}

.quote-author {
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
    margin-right: 54vh;
}

.bg-course {
    position: relative;
    width: 100%;
}

.bg-course::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../images/pic_3.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}